/* generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
}

/* header */
header {
    height: 80px;
    color: rgb(207, 55, 207);
    text-align: center;
    padding: 30px 0;
    margin-bottom: 2%;
    line-height: 20px;
    font-family: 'Fredoka One';
}

/* main */
.container {
    width: 90%;
    margin: auto;
}

.container p {
    text-align: center;
    margin-bottom: 2%;
    font-size: 18px;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}  

/* regole colonna */
.col {
    width: calc(100% / 3);
    float: left;
}

.card {
    height: 80px;
    width: 80%;
    margin: 30px 10%;
    background-color: rgb(4, 2, 24);
}

.card::after {
    content: "";
    display: table;
    clear: both;
}

.card img {
    width: 80px;
    float: left;
    margin-right: 4%;
}

/* regole card inside */
.text {
    margin-bottom: 2%;
}

.name {
    color: #fff;
    font-weight: 500;
    font-family: 'Fredoka One';
}

.role {
    color: aliceblue;
}

.mail {
    text-decoration: none;
    color: rgb(0, 162, 255);
}
